{% extends "base.html" %}
{%load static%}
{% block body  %}

<section class="sayfa-taslak">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-9 sayfa-left pb-5">
          <div class="sayfa-hakkimizda-baslik">
            <h5>BİZ KİMİZ?</h5>
            <h2>Size Hikayemizi Anlatalım</h2>
          </div>
          <div class="sayfa-icerik-yazi">
            <p>
              Enter Sun Exchange, the world’s first peer-to-peer solar leasing
              platform. Through Sun Exchange, anyone, anywhere in the world,
              can own solar energy-producing cells and build wealth by leasing
              those cells to power businesses and organisations in emerging
              markets, with installations and maintenance taken.
            </p>
            <p>
              care of by one of Sun Exchange’s carefully selected installation
              partners. We leverage financial innovation and the power. <br />
              Enter Sun Exchange, the world’s first peer-to-peer solar leasing
              platform. Through Sun Exchange, anyone, anywhere in the world,
              can own solar energy-producing cells and build wealth by leasing
              those cells to power businesses and organisations in emerging
              markets, with installations and maintenance taken.
            </p>
            <p>
              care of by one of Sun Exchange’s carefully selected installation
              partners. We leverage financial innovation and the power. <br />
              Enter Sun Exchange, the world’s first peer-to-peer solar leasing
              platform. Through Sun Exchange, anyone, anywhere in the world,
              can own solar energy-producing cells and build wealth by leasing
              those cells to power businesses and organisations in emerging
              markets, with installations and maintenance taken.
            </p>
            <p>
              care of by one of Sun Exchange’s carefully selected installation
              partners. We leverage financial innovation and the power.
            </p>
          </div>
        </div>
        
        {% include 'includes/blogsidebar.html' %}
      </div>
    </div>
  </section>

{% endblock body  %}